@model CategoryIndexViewModel

@{
    ViewData["Title"] = "Categorias";

    int countTab = 0;
    int countContent = 0;
}


<div class="d-flex justify-content-between align-items-center">
    <h2>@ViewData["Title"]</h2>

    <a href="javascript:" class="btn btn-success btn-category-add">
        <i class="fas fa-plus"></i> Adicionar
    </a>
</div>

<div id="tabsContainer">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            @if (Model.Pages != null)
            {
                foreach (var tab in Model.Pages)
                {
                    string active = countTab == 0 ? "active" : "";
                    string pageName = tab.Name;

                    <button class="nav-link @active" id="nav-@pageName.Replace(" ", "")-tab" data-bs-toggle="tab" data-bs-target="#nav-@pageName.Replace(" ", "")" type="button" role="tab" aria-controls="nav-@pageName.Replace(" ", "")" aria-selected="false">
                        @pageName
                    </button>

                    countTab++;
                }
            }
        </div>
    </nav>
    <br />
</div>

<div id="tabContents">
    <div class="tab-content" id="nav-tabContent">
        @if (Model.Pages != null)
        {
            foreach (var tab in Model.Pages)
            {
                string active = countContent == 0 ? "active show" : "";
                string pageName = tab.Name;

                <div class="tab-pane fade @active" id="nav-@pageName.Replace(" ", "")" role="tabpanel" aria-labelledby="nav-@pageName.Replace(" ", "")-tab">
                    <div id="categoryLinks-@pageName.Replace(" ", "")">
                        <div class="table-responsive table-categories">
                            <table id="data-table-@pageName" class="table table-bordered table-hover text-center" style="width:100%">
                                <thead class="table-success">
                                    <tr>
                                        <th class="text-center">
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th class="text-center">
                                            Ações
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Categories)
                                    {
                                        if (item.Page != null && item.Page.Name == pageName)
                                        {
                                            <tr class="bg-light">
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>
                                                <td>
                                                    <a href="javascript:" category-id="@item.Id" class="btn btn-primary btn-category-edit">
                                                        <i class="fa-regular fa-pen-to-square"></i>
                                                        <span class="d-none d-sm-inline">Editar</span>
                                                    </a>
                                                    <a href="javascript:" category-id="@item.Id" class="btn btn-danger btn-category-remove">
                                                        <i class="fa-regular fa-trash-can"></i>
                                                        <span class="d-none d-sm-inline">Remover</span>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                countContent++;
            }            
        }
    </div>
</div>

@* Modal Category Create *@
<div class="modal fade" id="modalCategoryCreate" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="categoryCreate"></div>
        </div>
    </div>
</div>

@* Modal Category Edit *@
<div class="modal fade" id="modalCategoryEdit" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="categoryEdit"></div>
        </div>
    </div>
</div>

@* Modal Category Delete *@
<div class="modal fade" id="modalCategoryDelete" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="categoryDelete"></div>
        </div>
    </div>
</div>