@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categorias";
}


<div class="d-flex justify-content-between align-items-center">
    <h2>@ViewData["Title"]</h2>

    <a href="javascript:" class="btn btn-success btn-category-add">
        <i class="fas fa-plus"></i> Adicionar
    </a>
</div>

<div class="table-responsive">
    <table id="data-table" class="table table-striped table-bordered table-hover text-center" style="width:100%">
        <thead class="table-success">
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Page)
                </th>
                <th class="text-center">
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @if (item.Page != null && item.Page.Name != null)
                        {
                            @Html.DisplayFor(modelItem => item.Page.Name)
                        }
                    </td>
                    <td>
                        <a href="javascript:" category-id="@item.Id" class="btn btn-primary btn-category-edit">
                            <i class="fa-regular fa-pen-to-square"></i>
                            <span class="d-none d-sm-inline">Editar</span>
                        </a>
                        <a href="javascript:" category-id="@item.Id" class="btn btn-danger btn-category-remove">
                            <i class="fa-regular fa-trash-can"></i>
                            <span class="d-none d-sm-inline">Remover</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@* Modal Category Create *@
<div class="modal fade" id="modalCategoryCreate" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="categoryCreate"></div>
        </div>
    </div>
</div>

@* Modal Category Edit *@
<div class="modal fade" id="modalCategoryEdit" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="categoryEdit"></div>
        </div>
    </div>
</div>

@* Modal Category Delete *@
<div class="modal fade" id="modalCategoryDelete" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="categoryDelete"></div>
        </div>
    </div>
</div>