@model IEnumerable<Page>

@{
    ViewData["Title"] = "Páginas";
}

<div class="d-flex justify-content-between align-items-center">
    <h2>@ViewData["Title"]</h2>
    <a href="javascript:" class="btn btn-success btn-page-add">
        <i class="fas fa-plus"></i> Adicionar
    </a>
</div>

<div class="table-responsive">
    <table id="data-table" class="table table-striped table-bordered table-hover text-center" style="width:100%">
        <thead class="table-success">
            <tr>
                <th class="text-center col-6 col-sm-4">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="text-center d-none d-sm-table-cell col-sm-4">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th class="text-center col-6 col-sm-4">
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="col-6 col-sm-4">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="d-none d-sm-table-cell col-sm-4">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="col-6 col-sm-4">
                        <a href="javascript:" page-id="@item.Id" class="btn btn-warning btn-page-permission">
                            <i class="fa-solid fa-user-lock"></i>
                            <span class="d-none d-sm-inline">Permissões</span>
                        </a>
                        <a href="javascript:" page-id="@item.Id" class="btn btn-primary btn-page-edit">
                            <i class="fa-regular fa-pen-to-square"></i>
                            <span class="d-none d-sm-inline">Editar</span>
                        </a>
                        <a href="javascript:" page-id="@item.Id" class="btn btn btn-danger btn-page-remove">
                            <i class="fa-regular fa-trash-can"></i>
                            <span class="d-none d-sm-inline">Remover</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@* Modal Page Create *@
<div class="modal fade" id="modalPageCreate" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="pageCreate"></div>
        </div>
    </div>
</div>

@* Modal Page Permission *@
<div class="modal fade" id="modalPagePermission" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="pagePermission"></div>
        </div>
    </div>
</div>

@* Modal Page Edit *@
<div class="modal fade" id="modalPageEdit" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="pageEdit"></div>
        </div>
    </div>
</div>

@* Modal Page Delete *@
<div class="modal fade" id="modalPageDelete" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="pageDelete"></div>
        </div>
    </div>
</div>