@model HomePageViewModel

@{
    Layout = "_LayoutLinks";
    ViewData["Title"] = "Links";
}

<div class="text-center">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">

            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="false">
                Home
            </button>

            @if(Model.Categories != null)
            {
                @foreach (var tab in Model.Categories)
                {
                    <button class="nav-link" id="nav-@tab.Name.Replace(" ", "")-tab" data-bs-toggle="tab" data-bs-target="#nav-@tab.Name.Replace(" ", "")" type="button" role="tab" aria-controls="nav-@tab.Name.Replace(" ", "")" aria-selected="false">
                        @tab.Name
                    </button>
                }                
            }
        </div>
    </nav>
    <br />
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
                @if (Model.HomePageLinks != null)
                {
                    @foreach (var tabContentHome in Model.HomePageLinks)
                    {
                        <div class="col">
                            <a href="@tabContentHome.Url" target="_blank">
                                <div class="card-link h-100">
                                    <img src="/images/@tabContentHome.FileName" class="card-img-top" alt="...">
                                    <div class="card-link-body">
                                        <h5 class="card-title">@tabContentHome.Name</h5>
                                        <p class="card-text">@tabContentHome.Description</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>

        @if (Model.Categories != null)
        {
            @foreach (var tab in Model.Categories)
            {
                <div class="tab-pane fade" id="nav-@tab.Name.Replace(" ", "")" role="tabpanel" aria-labelledby="nav-@tab.Name.Replace(" ", "")-tab">
                    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
                        @if (Model.Links != null) {
                            @foreach (var tabContent in Model.Links)
                            {
                                if (tabContent.Category != null && tab.Name == tabContent.Category.Name)
                                {
                                    <div class="col">
                                        <a href="@tabContent.Url" target="_blank">
                                            <div class="card-link h-100">
                                                <img src="/images/@tabContent.FileName" class="card-img-top" alt="...">
                                                <div class="card-link-body">
                                                    <h5 class="card-title">@tabContent.Name</h5>
                                                    <p class="card-text">@tabContent.Description</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            }            
        }
    </div>
</div>